/*---------------------------HEADER----------------------------*/


header {
    background-color: $color-secundario;
    padding: 2vw 2vw 2vw 2vw;
    border-bottom: 1px solid $color-primario;
    @include flex (flex, space-between, center, row);


    h1 {
        margin-bottom: 0;

        .header-title {
            text-decoration: none;
            color: $color-primario;
            font-size: 50px;
            font-weight: 900;
            transition: color 0.5s;

            &:hover {
                color: $color-terciario;
            }
        }
    }

    div {

        .nav-burger {
            @include flex (flex, start, start, column);

            ul {
                li {
                    padding: 10px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $color-terciario;
                        font-size: 30px;
                        font-weight: 900;
                        transition: color 0.5s;

                        &:hover {
                            color: $color-primario;
                        }
                    }
                }
            }

            div {
                padding-left: 30px;

                a {
                    img {
                        width: 50px;
                        height: 50px;
                        padding: 5px;
                        transition: filter 0.5s;

                        &:hover {
                            @extend %icon-filter;
                        }
                    }
                }
            }
        }
    }


    .nav {
        @include flex (flex, space-between, center, row);

        ul {
            @include flex (flex, space-between, center, row);
            margin-bottom: 0;
            padding-left: 0;

            li {
                padding: 10px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color-terciario;
                    font-size: 30px;
                    font-weight: 900;
                    transition: color 0.5s;

                    &:hover {
                        color: $color-primario;
                    }
                }
            }
        }

        div {
            @include flex (flex, space-around, center, row);

            a {
                img {
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    transition: filter 0.5s;

                    &:hover {
                        @extend %icon-filter;
                    }
                }
            }
        }
    }
}